body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

#app-layout{
    display: flex;
}

#app-layout #left-col{

    flex: 1;
}

#app-layout #right-col{

    flex: 2;
    
}

h1 {
    color: #5a5a5a;

    font-size: 2rem; /* Increase font size for Herk's */
  }
h2 {
    color: #5a5a5a;

    font-size: 0.8rem; /* Adjust font size for the loading message */

}

/*-------------
HEADER
------------- */

header {
    background-color: rgb(29, 21, 49);
    color: white;
    height: 65px;
    display: flex;
    align-items: center; /* Aligns all items vertically in the center */
}

header .left {

    flex: 1;
}






header .title {

    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}

header .right {

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: right;
}


/*-------------
AUTH STYLES
------------- */

/* Styling for the "Sign Up / Log In" section */
.auth-links-login {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes this div to the far right */
}

.auth-links-logout {
    display: none;
    align-items: center;
    margin-left: auto; /* Pushes this div to the far right */
    
}


/* Styling for the text */
.auth-text, .profile-data {
    margin-right: 10px; /* Add space between "Profile" and "Log Out" */
    font-size: 14px; /* Adjust font size as needed */
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit color from parent */
    cursor: pointer; /* Make it look clickable */
}


/* Optional: Change color on hover */
.auth-text:hover {
    color: #4183c4; /* Change to a suitable color on hover */
}

.profile-data:hover {
    color: #dfae28; /* Change to a suitable color on hover */
}

.profile-data-btn {
    margin-right: 5px;
    font-size: 14px; /* Adjust font size as needed */
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit color from parent */
}

/* Icon alignment */
.auth-links-logout i {
    display: flex;
    align-items: center;
}

/*-------------
GLOBAL STYLES
------------- */

button{
    background-color: rgb(25, 85, 85);
    border: none;
    color: white;
    font-size: 1em;
    margin: 5px;
    padding: 5px 8px;
    border-radius: 5px;
}

button:hover{
    background-color: #ffa000;
    cursor: pointer;
}


/*-------------
MODAL WINDOW
------------- */

#modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    display: none; /* hides on opening the page */
    align-items: center;
    justify-content: center;
}

#modal-overlay #modal {
    /* max-width: 650px; */
    width: 100%;
    background-color: white;
    border-radius: 10px;

}


/*-------------
ADD materialS FORM
------------- */

#modal .modal-header h2 {
    text-align: center;
    margin: 0;
    padding: 10px;
    
}

#modal {
    position: fixed;
}

#modal .modal-content{
    display: flex;
    
}

#modal .modal-content .input-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    padding: 15px; /* Add some padding to the input card */
    gap: 10px; /* Space between each input group */
    
}

#modal .modal-content .input-card .input-group {
    
    display: flex;
    
    margin: 5px 15px;
}

#modal .modal-content .input-card .input-group label {
    margin-bottom: 5px; /* Space between label and input */
}

#modal .modal-content .input-card .input-group input {
    width: 35%; /* Input field takes full width of its container */
    font-size: 16px;
    height: 28px;
    padding-left: 5px;
    padding-right: 1px;
    color: #666;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    
}

#modal .modal-footer{
    display: flex;
    justify-content: right;
    margin: 5px 10px;
}

.close-btn{
    background-color: #999;
}


/*-------------
material LIST
------------- */

#material-list {
    padding: 0;
    margin: 0;
    /*border: 1px solid #999;*/
    border-bottom: 0;
}

.material-list-item{
    display: flex;
    border-bottom: 1px solid #999;
    padding: 1px;
}

.material-list-item .media{

    flex:1;
}

.material-list-item .media .two-letters {
/*     width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    color: white; */

    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.material-list-item .content{

    flex: 3;
    display: flex;
    
    justify-content: left;
    padding-left: 2em;
}

.material-list-item .content .title {
    font-size: 1.2m;
    font-weight: normal;
    color: #333;
    padding-right: 0.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: left;
}

.material-list-item .content .subtitle {
    font-size: 1.2m;
    font-weight: normal;
    color: #333;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: left;
}

.material-list-item .action{

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* General styles for material groups */
.material-group {
    border: 1px solid #ccc; /* Soft border */
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 10px;
    overflow: hidden;
    transition: all 0.3s ease; /* Smooth transition */
}

.material-group-header {
    background-color: #f5f5f5; /* Light grey background for the header */
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd; /* Border separating header from list */
}

.material-group-header:hover {
    background-color: #e0e0e0; /* Slightly darker on hover */
}

.material-group-header::after {
    content: "\25BC"; /* Downward arrow */
    font-size: 0.8em;
    transition: transform 0.3s ease;
}

.material-group.collapsed .material-group-header::after {
    transform: rotate(-90deg); /* Rotate arrow when collapsed */
}

.material-sublist {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
    max-height: 500px; /* Max height to limit overflow */
    overflow-y: auto;
    transition: max-height 0.3s ease;
}

.material-group.collapsed .material-sublist {
    max-height: 0; /* Collapse the list */
    overflow: hidden;
}

/* Optional: Visual styling for a more modern look */
.material-group {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}


.material-list-item:hover {
    background-color: #f9f9f9; /* Light hover effect */
}



/* Default text colors for each material group header */
#material-list-steel .material-group-header {
    color: rgb(120, 0, 0) !important; /* Steel group color */
}

#material-list-aluminium .material-group-header {
    color: rgb(0, 128, 192) !important; /* Aluminium group color */
}

#material-list-iron .material-group-header {
    color: rgb(0, 111, 55) !important; /* Iron group color */
}

#material-list-other .material-group-header {
    color: rgb(255, 128, 64) !important; /* Other group color */
}

/*-------------
HOVER EFFECTS
------------- */

/* General hover effect */
.material-list-item:hover .title,
.material-list-item:hover .subtitle {
    font-weight: bold;
    cursor: pointer;
}

/* Specific hover colors for each material */
#material-list-steel .material-list-item:hover .title,
#material-list-steel .material-list-item:hover .subtitle {
    color: rgb(120, 0, 0) !important; /* Adjust color for Steel tab */
}

#material-list-aluminium .material-list-item:hover .title,
#material-list-aluminium .material-list-item:hover .subtitle {
    color: rgb(0, 128, 192) !important; /* Adjust color for Aluminium tab */
}

#material-list-iron .material-list-item:hover .title,
#material-list-iron .material-list-item:hover .subtitle {
    color: rgb(0, 111, 55) !important; /* Adjust color for Iron tab */
}

#material-list-other .material-list-item:hover .title,
#material-list-other .material-list-item:hover .subtitle {
    color: rgb(255, 128, 64) !important; /* Adjust color for Other tab */
}


/*-------------
RIGHT COLUMN
------------- */

#right-col-detail {
    display: flex; /* Make it a flex container */
    position: fixed;
    padding-left: 4rem;
    padding-top: 2rem;
    gap: 0.5rem; /* Add gap between cards and chart containers */
}

.card-mat-container {
    
    
    
    gap: 0.5rem; /* Space between material cards */
}

.card-mat {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #f4f4f4;
    color: #f4f4f4;
    padding-left: 5em;
    padding: 5px;
    border-radius: 5px;
    max-width: 25rem;
    
}

.card-mat .mat-header {
    font-weight: bold; /* Make the header text bold */
    text-align: center; /* Align the header text to the center */
    border-bottom: 2px solid #ccc; /* Add a solid border bottom to create an underline effect */
    padding-bottom: 5px; /* Add some bottom padding to separate the header from the rows */
    font-size: 1rem;
  }

.card-mat .mat-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.1em;
    
}

.card-mat .mat-property {
    flex: 1;
    font-size: 1rem;
    min-width: 12rem;
}

.card-mat .mat-data {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    min-width: 5rem;
}

.card-mat .mat-unit {
    flex: 1;
    text-align: right;
    font-size: 1rem;
    min-width: 4rem;
}

/* Style for rows with missing data */
.missing-data {
    color: grey;
}



/*-------------
CHART
------------- */

.card-chart {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #f4f4f4;
    color: #f4f4f4;
    padding-left: 5rem;
    padding: 5px;
    border-radius: 5px;
    
}

.card-chart .mat-header {
    font-weight: bold; /* Make the header text bold */
    text-align: center; /* Align the header text to the center */
    border-bottom: 2px solid #ccc; /* Add a solid border bottom to create an underline effect */
    padding-bottom: 5px; /* Add some bottom padding to separate the header from the rows */
    font-size: 1rem;
}

.card-chart-container {
    flex-direction: column;
    
    display: flex; /* Make it a flex container */
    gap: 0.5rem; /* Space between material cards */
}

.chart-canv {
    height: 20.9rem /* Set your desired width */
}


/*-------------
LINK
------------- */

.reference-link {
    color: white; /* Default link color */
    text-decoration: none; /* Remove underline */
}

.reference-link:hover {
    text-decoration: underline; /* Underline on hover for better visibility */
}


/*-------------
SMALL SCREEN ADJUSTMENT
------------- */

#app-layout #right-col #back-btn {
    display: none;
}

@media only screen and (max-width:600px) {
    #app-layout #right-col {
        display: none;
    }

    #app-layout #right-col #back-btn {
        margin: 20px 0 0 20px;
        display: block;
    }

    #modal .modal-content .input-card {
        flex-direction: column;
    }
}


/*-------------
TABS
------------- */

.tabs {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tab {
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    flex-grow: 1;
    text-align: center;
}

.tab.active {
    background-color: #fff;
    border-bottom: none;
    font-weight: bold;
}

.tab-content {
    /*border: 1px solid #ccc;*/
    border-radius: 0 5px 5px 5px;
    
    background-color: #fff;
    display: none;
}

.tab-content.active {
    display: block;
}

.tab[data-target="steel"] {
    color: rgb(120, 0, 0); /* Adjust color for Steel tab */
  }
  .tab[data-target="aluminium"] {
    color: rgb(0, 128, 192); /* Adjust color for Aluminium tab */
  }
  .tab[data-target="iron"] {
    color: rgb(0, 111, 55); /* Adjust color for Iron tab */
  }
  .tab[data-target="other"] {
    color: rgb(255, 128, 64); /* Adjust color for Other tab */
  }

/*-------------
AUTH UI
------------- */

#ui-section {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    display: none; /* hides on opening the page */
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's on top of other content */
    
}

#signup-form {
    min-width: 400px;
    display:none;
    text-align: center;
    position: fixed;
    top: 20%;
    left: 50%;
}

#login-form {
    min-width: 400px;
    max-width: 400px;
    text-align: center;
    display:none;
    position: fixed;
    top: 20%;
    left: 50%;
}

#user-profile {
    min-width: 400px;
    text-align: center;
    display:none;
    position: fixed;
    top: 20%;
    left: 50%;
}

#email-verification {
    min-width: 400px;
    text-align: center;
    display:none;
    position: fixed;
    top: 20%;
    left: 50%;
}

#reset-password-form {
    min-width: 400px;
    text-align: center;
    display: hide;
    position: fixed;
    top: 20%;
    left: 50%;
}

/* CSS to add pointer cursor to specific anchor tags */
#need-an-account-btn,
#have-an-account-btn,
#forgot-password-btn {
    cursor: pointer;
}


#ui-section #login-overlay {
    
    width: 100%;
    background-color: white;
    border-radius: 10px;

}




/*-------------
PASSWORD VISIBILITY 
------------- */


/* Position the eye icon inside the input field */
#eye-icon,
#signup-eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    color: rgba(0, 0, 0, 0.6);
}

/* Specific styles for the visible state */
.eye-visible {
    color: rgba(0, 0, 0, 0.4); /* Less opaque to indicate visibility */
}

/* Specific styles for the hidden state */
.eye-hidden {
    color: rgba(0, 0, 0, 0.6); /* Normal opacity for hidden */
}